/* general styles */
html, body {
    height: 100%;
    width: 100%;
}
/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}
/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/* additional sections */
#ueber_uns {
    color: white;
}

#juniter {
    /*background: url(../images/4.jpg) no-repeat center center fixed; */
    background: #000;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ueber_uns {
    background: rgb(236, 108, 14);
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#ueber_uns h2 {
    background-color: transparent;
    color: rgb(172, 60, 0);
    font-size:3em;
}
#ueber_uns p {
    font-size:1.2em;
    text-align:left;
    padding:20px;
}
#leistungen {
    background-color: #000; /* Old browsers */
    background-url: url(../images/11.jpg) no-repeat center center fixed;
    /*    background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 50%, #000 ), color-stop( 50%, #000 ), color-stop( 50%, rgb(236,108,14) ) );  Chrome, Safari4+
        background-image: -webkit-linear-gradient( top, #000 50%, #000 50%, rgb(236,108,14) 50% );  Chrome10+, Safari5.1+
        background-image:    -moz-linear-gradient( top, #000 50%, #000 50%, rgb(236,108,14) 50% );  Fx3.6+
        background-image:         linear-gradient(      #000 50%, #000 50%, rgb(236,108,14) 50% );  W3C */
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
#leistungen .glyphicon {
    border: 2px solid rgb(236, 108, 14);
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    color: rgb(236, 108, 14);
    cursor:pointer;
    /*    -webkit-transition: width 2s, height 4s;  For Safari 3.1 to 6.0
        transition: width 2s, height 4s;*/
}
#leistungen .glyphicon:hover {
}

#leistungen h2 {
    background:rgb(0,0,0);
    font-size:3em;
}

.leistungen_details {
    display:none;
    color: lightgrey;
}

#referenzen {
    color: white;
    background-color: black;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#referenzen .glyphicon {
    border: 2px solid #777;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    color: #777;
}
#referenzen table {
    border: none;
}
#referenzen .panel {
    color: #444444;
    opacity: 0.85;
}
#referenzen .panel-default {
    color: white;
    background:rgba(50,50,50,.8);
    border:none;
}
#referenzen .panel-heading {
    color: white;
    background:rgba(50,50,50,.8);
    border:none;
}
#referenzen h3 {
    color:#8a8a8a;
}
#kontakt {
    color: white;
    background-color: rgb(236,108,14);
    background: url(../images/yeah.png) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#jobs {
    // background: url(../images/3.jpg) no-repeat center center fixed;
    background-color: rgb(2,3,7);
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#jobs label {
    // color: rgb(236,108,14);
    color: white;
}
#the-button {
    text-align: center;
    font-size: 2.5em;
    padding: 0.5em;
}
.myform {
    background: transparent;
    // color: rgb(236,108,14);
    color:white;
}
.myform:focus {
    background: transparent;
    // color: rgb(236,108,14);
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.075) inset, 0 0 8px rgba(236,108,14, 0.6);
    border-color: rgb(236,108,14);
}
footer {
    padding: 20px 0;
    background-color:#000;
    color:white;
}
footer .glyphicon {
    color: #333333;
    font-size: 60px;
}
footer .glyphicon:hover {
    color: #306d9f;
}

.a-c {
    font-size:15px;
    text-decoration:underline;
    color:rgb(200,200,200);
}

.a-c:hover {
    font-size:15px;
    text-decoration:underline;
    color:rgb(200,200,200);
}

.a-c:active {
    font-size:15px;
    text-decoration:underline;
    color:rgb(200,200,200);
}

.video-container {
    position: relative;
}
video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.overlay-desc {
    background: rgba(0,0,0,0);
    padding: 20px;
    position: absolute;
    top: 78px; left: 0; right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-desc2 {
    position: absolute;
    // background: url(../images/plakat.jpg) no-repeat center center fixed;
    top: 410px; left: 400px; right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-desc a {
    color:rgb(235,108,22);
}
.referenz{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
h1 {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 9vw;
    text-align: center;
}

h2 {
    font-size:3em;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.7rem;
}

nav {
    background-color: black;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.button-orange,
.button-orange:hover,
.button-orange:active,
.button-orange:default,
.button-orange:visited,
.button-orange:link,
.button-orange:target,
.button-orange:after{
    background:rgb(236,108,14);
    border:none;
    color: white;
}

.text-white {
    color:rgb(255,255,255);
}

.background-black {
    background: #000;
}

#leistungen-header {
    margin-top:20px;
    background:rgb(0,0,0);
}

#leistungen-footer {
    margin-top:30px;
    background-color:rgb(236,108,14);
    padding:20px;
}

.background-darkgrey {
    background-color:rgb(38,38,38);
}

.text-lightgrey {
    color: #777;
}

.text-left {
    text-align:left;
}

.color-darkorange {
    color:rgb(172, 60, 0);
}

.text-white {
    color: white;
}

.text-juniter-orange,
.text-juniter-orange:link,
.text-juniter-orange:visited,
.text-juniter-orange:hover,
.text-juniter-orange:active
{
    color:rgb(236,108,14);
    text-decoration:none;
}

.hidden {
    display:none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
