@media screen and (max-width: 767px) {
	body {
		font-size: 13px;
		width: 320px;
	}

	h4 {font-size: 18px;}

    .small {display: normal;}
    .middle {display: none !important;}
    .big { display: none !important; }
    #ueber_uns{margin-top: 100px !important; margin-bottom: 42px !important;}
    
    #logo {margin-top: 10px; width: 120px;}

    .divider_img, #container, #header, #header2{width: 320px; }
    .headline_left, .headline_right {width: 15%; height: 1px;}
    .headline_container {margin-bottom: 20px !important }

   /**
	#container1 #h1 { font-size: 18px; font-family: 'Merriweather', serif; font-weight: 400; width: 260px;  padding: 6px; text-align: center;}
    #container1 #h3 { font-size: 16px; font-family: 'Merriweather', serif; font-weight: 400; width: 140px;  padding: 6px; padding-left: 10px;}
**/
	#container1 { padding-left: 10px;}
	#container1 #h1 { margin-top: 10px; font-size: 21px; font-family: 'Merriweather', serif; font-weight: 400; padding: 5px 10px;}
    #container1 #h3 { margin-top: 10px; font-size: 18px; font-family: 'Merriweather', serif; font-weight: 400; padding: 5px 10px; float: left;}
	.container3 {padding: 0 15px;}
	.container3_img {margin: 0 5%; display: none;}

	#footer div {padding: 0 24px; }
	.row3, .row2{display: block; width: 100%;}
	
	.hs-text {padding: 0;}
	.hs-wrapper {width: 100%;}
}

/************************************************************************************
smaller than 960
*************************************************************************************/
@media screen and (min-width: 768px) and (max-width: 960px) {
	/* pagewrap */
	body{
		width: 768px;
	}
	
    .small {display: none;}
    .middle {display: none !important;}
    .big { display: normal;}

    .links {padding: 6px 24px;}

    #container, #header , #header2{width: 768px;}
    .headline_left, .headline_right {width: 15%;}

    #logo {margin-top: 30px;}
	#container1 { padding-left: 30px;}
	.container3_text{width: 70%;}
	.container3_img{width: 25%; padding: 0 10px;}
	.divider_img {width: 100%;}

/**
	#container1 #h1 { margin-top: 90px; font-size: 40px; font-family: 'Merriweather', serif; font-weight: 400; width: 560px;  padding: 10px; text-align: center;}
    #container1 #h3 { margin-top: 20px; font-size: 30px; font-family: 'Merriweather', serif; font-weight: 400; width: 260px;  padding: 10px; padding-left: 18px;}
**/
	#container1 #h1 { margin-top: 60px; font-size: 50px; font-family: 'Merriweather', serif; padding: 7px 18px;}
    #container1 #h3 { margin-top: 20px; font-size: 46px; font-family: 'Merriweather', serif; padding: 7px 18px; float:left;}


	#footer div {padding: 0 41px; }
	
	.hs-text {padding: 0 20px;}

}

/************************************************************************************
bigger than 960
*************************************************************************************/
@media screen and (min-width: 960px) {
	body{
		width: 960px;
	}

    .small {display: none; }
    .big {display: normal;}
    .middle {}

	#container, #header, #header2{width: 960px; }
	.container3_text{width: 70%}
	.container3_img{width: 25%; padding: 0 10px;}

	#container1 #h1 {  margin-top: 90px; font-size: 61px; font-family: 'Merriweather', serif; font-weight: 400; padding: 10px 22px; }
    #container1 #h3 { margin-top: 20px; font-size: 54px; font-family: 'Merriweather', serif; font-weight: 400; padding: 10px 22px; float:left;}

	.divider_img { margin: 0; padding: 0; }

}







