* {margin:0;padding:0;}
div { box-sizing: border-box !important; }
html, body {background: #FFF; height: 100%;}
body {
	line-height: 1.6;
	font-size: 16px;
	margin: 0;
	padding: 0px;
	
	text-align: center;
	
	margin-right:auto;
	margin-left:auto;
	
	color: #555;
	color: rgba(0,0,0,0.7);
	font-family: 'Merriweather', serif;
	font-weight: 400;
	vertical-align: top;
	-moz-hyphens: auto;
 	-o-hyphens: auto;
 	-webkit-hyphens: auto;
 	-ms-hyphens: auto;
 	hyphens: auto;
}

a { font-family: 'Open Sans', sans-serif; font-weight: 300; text-decoration: none; color: #EC9B5C;}
a img {border: 0;}
a:hover {text-decoration: underline; color: #FF6000;}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 62px;
	font-weight: 400;
	line-height: 1.2;
	color: #616060;
}
h1 strong { color: #FF6000;}
#container1 #h1, #container1 #h3 { background: rgba(255, 255, 255, 0.7);}


h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.25em;
    font-weight: 300;
	color: #3F3F3F;
}


h3 {
	font-family: 'Merriweather', serif;
	font-size: 54px;
	font-weight: 400;
	line-height: 1.2;
	color: #616060;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	line-height: 1.4;
	color: #616060;
}

.invisible {visibility: hidden;}

.contact span { font-size: 75%; }

#logo { margin-top: 50px; background: rgba(255, 255, 255, 0.7); padding: 10px;}
#header {
	position: absolute;
	width: 960px;
	height: 39px;
	background: rgba(239, 130, 57, 0.9);
	*background: #FF6000;
	color: #F3F0DE;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index: 20000;
}

#header a {color: #FFF;}
#header2 a {color: #FFF;}

#header2 {
	position: fixed;
	top: 0px;
	width: 960px;
	height: 39px;
	background: rgba(239, 130, 57, 0.9);
	*background: #FF6000;
	color: #F3F0DE;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index: 20000;
}

#header li {
	position: absolute;
	display:inline-block;
	cursor:pointer;
	list-style: none;
	padding: 7px 25px;
}

.links {display: inline-table; *display: inline; padding: 6px 38px; text-align: center; vertical-align: middle;}
.links a {font-family: 'Open Sans', sans-serif; font-size: 1.1em;}
.links a:hover {
	cursor: pointer;
	color: #FFF;
	text-decoration: underline;
}

#img .links:hover {
	text-decoration: none;
}

#companies {display: none;}
#companies li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 7px 25px;
}
#companies li a { color: #FFF;}
#students {display: none;}
#students li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 7px 25px;
}
#students li a { color: #FFF;}


#container {
	margin: 0px;
	padding: 0px;
	width: 960px;
}
#container1{
	position: absolute;
	text-align: left;
	margin-top: 0px;
	padding: 0px 0;
	padding-left: 50px;
	margin-bottom: 0px;
}

#container2{
	text-align: justify;
	padding: 50px 0;
	padding-bottom: 40px;
	background: #FFF;
}

.headline{ display: inline-block; *display: inline; text-align: center; margin-top: 0px;}
.headline_left { display: inline-block; *display: inline; width: 170px; height: 2px;  margin-top:25px; margin-left: 0px; background: #626060;box-shadow:0px 0px 1px #626060;  float: left;}
.headline_right { display: inline-block; *display: inline; width: 170px; height: 2px; margin-top:25px; margin-right: 0px; background: #626060;box-shadow:0px 0px 1px #626060; float: right;}
.container3{
	padding: 0px 30px;
	padding-bottom: 39px;
	margin-bottom: 0px;
	background: #FFF;
	text-align: left;
}
.container3 img { max-width: 100%; overflow: hidden;	}


#footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	background: #000000;
	*background: #000;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 20px;
}

#footer div {display:inline-block; *display: inline; padding: 0 20px; vertical-align: top; text-align: left;}

#footer .title {
	padding-left: 0;
	border: 0;
	font-size: 13px;
	margin-bottom: .6em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.row2 {display: inline-block; width: 45%; padding: 0 15px; vertical-align: top; text-align: center;}
.row3 {display: inline-block; width: 32%; vertical-align: top; text-align: center;}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #222;
	background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
	background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
	background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
	background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
	background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
	background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px; }

	/* #Forms
	================================================== */

		form {
			margin-bottom: 20px; }
		fieldset {
			margin-bottom: 20px; }
		input[type="text"],
		input[type="password"],
		input[type="email"],
		textarea,
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 10px;
			background: #fff; }
		select {
			padding: 0; }
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border: 1px solid #aaa;
	 		color: #444;
	 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
			-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
			box-shadow:  0 0 3px rgba(0,0,0,.2); }
		textarea {
			min-height: 60px; }
		label,
		legend {
			display: block;
			font-weight: bold;
			font-size: 13px;  }
		select {
			width: 220px; }
		input[type="checkbox"] {
			display: inline; }
		label span,
		legend span {
			font-weight: normal;
			font-size: 13px;
			color: #444; }
