
.cluster-box img {
	width:200px;
	height: auto;
	border-radius: 40px;

	}
#projectprocess {

	outline: dashed;
	height:700px;
	width:0px;
	outline-width: 0.5px;
	margin-top:20px;
}
.bluecircle {

	border: solid;
	border-width: 4px;
	border-color: rgb(30,70,125);
	width:50px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
	transform:translate(-50%,0%);
	margin-top:120px;


}

#firstcircle{
	margin-top: 0px;
}
